@model CombinedDeckViewModel

<form action="/card/AddCard" method="post">
    @for (int i = 0; i < Model.Search.Count; i++)
    {
        @Model.Search[i].Name
        <img src="@Model.Search[i].CardArtUrl" />
        <input type="checkbox" name="Name" value="@Model.Search[i].Name" />
        <input name="cardId" value="@Model.Search[i].CardId" hidden >
    }
    <input name="DeckName" value="@Model.deckObject[0].DeckName" hidden />
    <input type="submit" value="Add to Deck" />
</form>

<form action="/card/DeckList" method="post">
    <input name="DeckName" value="@Model.deckObject[0].DeckName" hidden />
    <input type="submit" value="Go back to Deck List" />
</form>