@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

@model CombinedDeckViewModel
    <div style="position:sticky;text-shadow: 1px 1px 2px white; top:0px; background-color:gray; padding-bottom:2px; margin-bottom: 15px; border-bottom: solid grey 3px; text-align:center;"><h1>@Model.deckObject[0].DeckName</h1></div>

<p style="color:white;">Card Count: @Model.Search.Count</p>
<p style="color:white;">Deck Cost: @Model.DeckCost</p>
<br />
<form action="/Card/ChooseDeck" method="get">
    <input type="submit" value="Go back to deck selection" />
</form>
<form action="/Card/CardList" method="get">
    <input type="text" name="cardName" placeholder="Search for card" />
    <input type="text" name="deckName" value="@Model.deckObject[0].DeckName" hidden />
    <input type="submit" value="Search for card" />
</form>

<form action="/Card/DeleteCard" method="post" style="color: white;text-shadow: 1px 1px 2px white;">

    <h2>Creatures</h2>
    @for (int i = 0; i < Model.Search.Count; i++)
    {
        if (Model.Search[i].TypeLine.Contains("Creature"))
        {
            <img style="width:17.5%;height:17.5%" src="@Model.Search[i].CardArtUrl" />
            <input type="checkbox" name="Id" value="@Model.Search[i].Id" />
        }
    }
    <br />
    <h2>Instant</h2>
    @for (int i = 0; i < Model.Search.Count; i++)
    {
        if (Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Land"))
        {
            <img style="width:17.5%;height:17.5%" src="@Model.Search[i].CardArtUrl" />
            <input type="checkbox" name="Id" value="@Model.Search[i].Id" />
        }
    }
    <br />
    <h2>Sorcery</h2>
    @for (int i = 0; i < Model.Search.Count; i++)
    {
        if (Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Land"))
        {
            <img style="width:17.5%;height:17.5%" src="@Model.Search[i].CardArtUrl" />
            <input type="checkbox" name="Id" value="@Model.Search[i].Id" />
        }
    }
    <h2>Artifact</h2>
    @for (int i = 0; i < Model.Search.Count; i++)
    {
        if (Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Land"))
        {
            <img style="width:17.5%;height:17.5%" src="@Model.Search[i].CardArtUrl" />
            <input type="checkbox" name="Id" value="@Model.Search[i].Id" />
        }
    }
    <h2>Enchantment</h2>
    @for (int i = 0; i < Model.Search.Count; i++)
    {
        if (Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Land"))
        {
            <img style="width:17.5%;height:17.5%" src="@Model.Search[i].CardArtUrl" />
            <input type="checkbox" name="Id" value="@Model.Search[i].Id" />
        }
    }
    <h2>Land</h2>
    @for (int i = 0; i < Model.Search.Count; i++)
    {
        if (Model.Search[i].TypeLine.Contains("Land") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Enchantment"))
        {
            <img style="width:17.5%;height:17.5%" src="@Model.Search[i].CardArtUrl" />
            <input type="checkbox" name="Id" value="@Model.Search[i].Id" />
        }
    }
    @*<img style="width:17.5%;height:17.5%" src="@Model.Search[i].CardArtUrl" />*@
    @*<input type="checkbox" name="Id" value="@Model.Search[i].Id" />*@
    <input name="DeckName" value="@Model.deckObject[0].DeckName" hidden />
    }
    <br />
    <input type="submit" value="Delete Card" />
</form>

