@model CombinedDeckViewModel

<style>
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    #selectDeckButton {
        background-color: rgba(17, 220, 39, 0.69);
        /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 10px 0px 10px 0px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 4px;
        width: 45%;
        box-shadow: 5px 5px 8px mediumpurple;
    }

        #selectDeckButton:hover {
            background-color: mediumpurple;
            transition-delay: 0.2s;
            box-shadow: 2px 2px 2px 2px mediumpurple;
        }
</style>




<h1 style="color:white;">@Model.deckObject[0].DeckName</h1>

<div style="position:sticky;text-shadow: 1px 1px 2px white; top:0px; background-color:gray; padding-bottom:2px; margin-bottom: 15px; border-bottom: solid grey 3px; text-align:center;border-radius:15px;"><h1>@Model.deckObject[0].DeckName</h1></div>


<p style="color:white;">Card Count: @Model.Search.Count</p>
<p style="color:white;">Deck Cost: @Model.DeckCost</p>
<br />

<a href="../AssistedDeckBuilder/Index" id="selectDeckButton">Go back to the Card Manager</a>



    <table class="table" style="color:white;">
        <tr>
            <th>Creatures</th>
            <th>Creature count = @Model.creatureCount</th>
            <th></th>
        </tr>

        <tr>
            <th>Card Image</th>
            <th>Card Price</th>
        </tr>
        @for (int i = 0; i < Model.Search.Count; i++)
        {
            <tr>
                @if (Model.Search[i].TypeLine.Contains("Creature"))
                {
                    <td><img style="width:auto;height:33%" src="@Model.Search[i].CardArtUrl" /></td>
                    <td><p>@Model.Search[i].CardPrice?.ToString("C2")</p></td>
                }
            </tr>
        }
    </table>
    <table class="table" style="color:white;">
        <tr>
            <th>Instants</th>
            <th>Instant count = @Model.instantCount</th>
            <th></th>
        </tr>

        <tr>
            <th>Card Image</th>
            <th>Card Price</th>
        </tr>
        @for (int i = 0; i < Model.Search.Count; i++)
        {
            <tr>
                @if (Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Land"))
                {
                    <td><img style="width:auto;height:33%" src="@Model.Search[i].CardArtUrl" /></td>
                    <td><p>@Model.Search[i].CardPrice?.ToString("C2")</p></td>
                }
            </tr>
        }
    </table>
    <table class="table" style="color:white;">
        <tr>
            <th>Sorcery</th>
            <th>Sorcery count = @Model.sorceryCount</th>
            <th></th>
        </tr>

        <tr>
            <th>Card Image</th>
            <th>Card Price</th>
        </tr>

        @for (int i = 0; i < Model.Search.Count; i++)
        {
            <tr>
                @if (Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Land"))
                {
                    <td><img style="width:auto;height:33%" src="@Model.Search[i].CardArtUrl" /></td>
                    <td><p>@Model.Search[i].CardPrice?.ToString("C2")</p></td>
                }
            </tr>
        }
    </table>
    <table class="table" style="color:white;">
        <tr>
            <th>Artifacts</th>
            <th>Artifact count = @Model.artifactCount</th>
            <th></th>
        </tr>

        <tr>
            <th>Card Image</th>
            <th>Card Price</th>
        </tr>
        @for (int i = 0; i < Model.Search.Count; i++)
        {
            <tr>
                @if (Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Land"))
                {
                    <td><img style="width:auto;height:33%" src="@Model.Search[i].CardArtUrl" /></td>
                    <td><p>@Model.Search[i].CardPrice?.ToString("C2")</p></td>
                }
            </tr>
        }
    </table>
    <table class="table" style="color:white;">
        <tr>
            <th>Enchantments</th>
            <th>Enchantment count = @Model.enchantmentCount</th>
            <th></th>
        </tr>

        <tr>
            <th>Card Image</th>
            <th>Card Price</th>
        </tr>
        @for (int i = 0; i < Model.Search.Count; i++)
        {
            <tr>
                @if (Model.Search[i].TypeLine.Contains("Enchantment") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Land"))
                {
                    <td><img style="width:auto;height:33%" src="@Model.Search[i].CardArtUrl" /></td>
                    <td><p>@Model.Search[i].CardPrice?.ToString("C2")</p></td>
                }
            </tr>
        }
    </table>
    <table class="table" style="color:white;">
        <tr>
            <th>Lands</th>
            <th>Land count = @Model.landCount</th>
            <th></th>
        </tr>

        <tr>
            <th>Card Image</th>
            <th>Card Price</th>
        </tr>

        @for (int i = 0; i < Model.Search.Count; i++)
        {
    <tr>
        @if (Model.Search[i].TypeLine.Contains("Land") && !Model.Search[i].TypeLine.Contains("Creature") && !Model.Search[i].TypeLine.Contains("Instant") && !Model.Search[i].TypeLine.Contains("Sorcery") && !Model.Search[i].TypeLine.Contains("Artifact") && !Model.Search[i].TypeLine.Contains("Enchantment"))
        {
            for (int j = 0; j < Model.deckObject[i].Quantity; j++)
            {
                <td><img style="width:auto;height:33%" src="@Model.Search[i].CardArtUrl" /></td>
                <td><p>@Model.Search[i].CardPrice?.ToString("C2")</p></td>
            }

        }
    </tr>
        }
    </table>

