@model AssistedDeckViewModel
    <div style="position:sticky; top:0px; background-color:white; padding-bottom:2px; margin-bottom: 15px; border-bottom: solid grey 3px">
        <h1>Multi target removal</h1>
        <style>
            body {
                background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://media.wizards.com/images/magic/daily/wallpapers/wp_solring_1280x960.jpg");
                background-size: cover;
                background-attachment: fixed;
            }
        </style>
        <br />
        <p>Does your opponnet have an entire army causing you an issue? A constellation of enchantments preventing you from playing more than one card per turn? <b>Choose 5 of these to take with you!</b></p>
        <br />
        @if (Model.ErrorMessage != null)
        {
            <p>@Model.ErrorMessage</p>
        }
        <br />
    </div>
<form asp-action="ValidateSelectedCards" asp-controller="AssistedDeckBuilder">
    <table class="table" style="color:white;">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Description</th>
            <th>Mana</th>
            <th>Image</th>
            <th>Pricing</th>
            <th>Add Card</th>

        </tr>

        @for (int i = 0, count = 1; i < Model.CardSearch.data.Count(); i++, count++)
        {
            string image = "";
            if (Model.CardSearch.data[i].image_uris != null)
            {
                image = Model.CardSearch.data[i].image_uris.small;
            }
            else
            {
                image = "https://img4.wikia.nocookie.net/__cb20140414012548/villains/images/8/86/Dennis_Nedry.png";
            }

            <tr>
                <td>@count.</td>
                <td>@Model.CardSearch.data[i].name</td>
                @if (Model.CardSearch.data[i].oracle_text == null)
                {
                    <td>Ah, ah, ah, you didn't say the <b>*magic*</b> word</td>
                }
                else
                {
                    <td>@Model.CardSearch.data[i].oracle_text</td>

                }
                <td>@Model.CardSearch.data[i].mana_cost</td>
                <td><img src="@image" /></td>

                @if (Model.CardSearch.data[i].prices.usd != null)
                {
                    <td>$@Model.CardSearch.data[i].prices.usd</td>
                }
                else
                {
                    <td>Could not find pricing information</td>
                }

                <td><input name="SelectedCard" type="checkbox" style="width:50px; height:50px;" value="@Model.CardSearch.data[i].id" /></td>
            </tr>

        }
        <input name="menu" value="3" hidden />
        <input type="submit" />
    </table>
    
</form>