@model AssistedDeckViewModel
    <div style="position:sticky; top:0px; background-color:white; padding-bottom:2px; margin-bottom: 15px; border-bottom: solid grey 3px">
        <h1>Card Draw</h1>
        <br />
        <p>If you want to win the game, you're going to have to draw more cards! Choose 10 draw spells so you can win your next game!</p>
        <br />
        @if (Model.ErrorMessage != null)
        {
            <p>@Model.ErrorMessage</p>
        }
    </div>

    <form asp-action="ValidateSelectedCards" asp-controller="AssistedDeckBuilder">
        <table class="table">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Description</th>
                <th>Mana</th>
                <th>Image</th>
                <th>Pricing</th>
                <th>Add Card</th>
            </tr>

            @for (int i = 0, count = 1; i < Model.CardSearch.data.Count(); i++, count++)
            {
                string image = "";
                if (Model.CardSearch.data[i].image_uris != null)
                {
                    image = Model.CardSearch.data[i].image_uris.small;
                }
                else
                {
                    image = "https://img4.wikia.nocookie.net/__cb20140414012548/villains/images/8/86/Dennis_Nedry.png";
                }

        <tr>
            <td>@count.</td>
            <td>@Model.CardSearch.data[i].name</td>
            @if (Model.CardSearch.data[i].oracle_text == null)
            {
                <td>Ah, ah, ah, you didn't say the <b>*magic*</b> word</td>
            }
            else
            {
                <td>@Model.CardSearch.data[i].oracle_text</td>

            }
            <td>@Model.CardSearch.data[i].mana_cost</td>
            <td><img src="@image" /></td>
            @if (Model.CardSearch.data[i].prices.usd != null)
            {
                <td>@Model.CardSearch.data[i].prices</td>
            }
            else
            {
                <td>Could not find pricing information</td>
            }
            <td><input name="SelectedCard" type="checkbox" value="@Model.CardSearch.data[i].id" /></td>
        </tr>
            }
            <input name="menu" value="0" hidden />
            <input type="submit" />

        </table>
    </form>