
@model List<CardsTable>
    <head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        #target {

            border: solid;
            height:auto;
            background-color: gold;
            width:auto;
            height:auto;
            text-align:left;
            margin-right: auto;
            margin-left: auto;
        }
        

        #top-container {
            margin-right: auto;
            margin-left: auto;
            background-color: rgba(128, 128, 128, 0.80) ;
            width: 1000px;
            padding: 30px;
            text-align: right;

        }

        /*.header {
            margin-right: auto;
            margin-left: auto;
            
            background: #808080;
            color: #000000;
            width:15%;
            right: 500px;

        }*/

        .content {
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
        }

/*        .sticky {
            margin-right: auto;
            margin-left: auto;
            position: fixed;
            width: 50%;
        }*/

            .sticky + .content {
                margin-right: auto;
                margin-left: auto;
                padding-top: 102px;
            }
    </style>
    </head>



    <form ondragstart="dragstart_handler(event)">
        <div class="container">
            <div  style="width:20%;height:auto" class="row sticky-top" id="top-container" ondrop="drop_handler(event)" ondragover="dragover_handler(event)" ondragstart="dragstart_handler(event)">
                <div class="col-md-12">
                    <img style="width:100px;height:100px; float:left" src="https://www.iconfinder.com/data/icons/glypho-generic-icons/64/garbage-can-recycle-bin-512.png" ondrop="trash_drop(event)" ondragover="dragover_handler(event)" />
                    <input style="float:left" onclick="loadProducts()" id="target" type="submit" value="submit">
                </div>
            </div>

            <div class="row">

                @foreach (var card in Model)
                {
                    <div class="col-md-2">
                        <img src="@card.CardArtUrl" draggable="true" style="width:180px;height:auto" id="@card.Id" />
                        <p>Price: @card.CardPrice?.ToString("C2")</p>
                    </div>
                    @*<p id="@card.CardId" draggable="true">@card.Name</p>*@

                }
            </div>
        </div>

    </form>
    <body>

    </body>

    <script>
        var cards = [];
        function dragover_handler(ev) {
            ev.preventDefault();
            ev.dataTransfer.dropEffect = "link";
        }
        function drop_handler(ev) {
            console.log(ev);
            ev.preventDefault();
            // Get the id of the target and add the moved element to the target's DOM
            const data = ev.dataTransfer.getData("application/MagicTheGatheringFinal");
            const view = document.getElementById(data).cloneNode(true);
            view.id = data + 1;
            ev.target.appendChild(view);
            cards.push(data)
        }
        function dragstart_handler(ev) {
            // Add the target element's id to the data transfer object
            ev.dataTransfer.setData("application/MagicTheGatheringFinal", ev.target.id);
            ev.dataTransfer.dropEffect = "link";
        }
    
        function trash_drop(trash) {

            trash.preventDefault();
            const data = trash.dataTransfer.getData("application/MagicTheGatheringFinal");
            console.log(document.getElementById(data));
            document.getElementById(data).remove();
            let pos = cards.indexOf(data);
            cards.splice(pos, 1);
        }
        //window.onscroll = function () { myFunction() };

        //var header = document.getElementById("target");
        ////var sticky = header.offsetTop;

        //function myFunction() {
        //    if (window.pageYOffset > sticky) {
        //        header.classList.add("sticky");
        //    } else {
        //        header.classList.remove("sticky");
        //    }
        //}

        function loadProducts() {
            var items = "";
            $.ajax({
                url: "../DragNDrop/SaveChanges",
                type: "POST",
                crossDomain: true,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(cards),
                traditional: true
            });
        }
    </script>
    